Research Question:
"How does food insecurity in low-income communities correlate with obesity rates and health outcomes across different regions in the United States?"

Peer-Reviewed Sources:

Walker, R. E., Keane, C. R., & Burke, J. G. (2010). Disparities and Access to Healthy Food in the United States: A Review of Food Deserts Literature. Health & Place.
Hilmers, A., Hilmers, D. C., & Dave, J. (2012). Neighborhood Disparities in Access to Healthy Foods and Their Effects on Environmental Justice. American Journal of Public Health.

Problem Statement
Food insecurity disproportionately impacts low-income and minority communities, often leading to higher obesity rates and poorer health outcomes due to limited access to nutritious foods. This study examines USDA’s Food Access Research Atlas and CDC’s Obesity & Chronic Disease Data to assess whether limited access to grocery stores in low-income communities is a strong predictor of obesity prevalence.

Hypothesis: Low-income areas with limited food access will show higher obesity rates compared to areas with better food availability.

USDA Food Access Research Atlas
Source: U.S. Department of Agriculture

In [1]:
import os
print(os.listdir())

['.Rhistory', '.config', 'Music', '.condarc', '.DS_Store', 'cleaned_health_outcome_data.csv', '.CFUserTextEncoding', 'Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System_20250213.csv', '.xonshrc', 'anaconda_projects', 'Untitled.ipynb', '.zshrc', '.local', 'Pictures', '.zprofile', 'Commit3.ipynb', '.zsh_history', '.ipython', 'Desktop', 'Library', '.matplotlib', 'Commit 2 Updated.ipynb', 'Public', '.idlerc', '.tcshrc', '.RData', '.anaconda', 'cleaned_food_access_data.csv', 'Movies', '.Rapp.history', '.Trash', '.ipynb_checkpoints', 'FoodAccessResearchAtlasData2019.csv', '.jupyter', 'Documents', '.bash_profile', 'Downloads', '.python_history', '.continuum', '.zsh_sessions', '.conda']

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
food_access_data = pd.read_csv("cleaned_food_access_data.csv")
food_access_data.head()
health_outcome_data = pd.read_csv("cleaned_health_outcome_data.csv")
health_outcome_data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
1,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Race/Ethnicity,Other,RACE,RACEOTH
2,2011,2011,AK,Alaska,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,2011.0,Value,...,"(64.845079957001, -147.722059036)",PA,PA1,Q044,VALUE,2,Sex,Female,SEX,FEMALE
3,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Age (years),35 - 44,AGEYR,AGEYR3544
4,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Income,"$15,000 - $24,999",INC,INC1525

In [11]:
food_access_data.head(7)

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,Low_Access_1_Mile,...,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,Food_Desert_Severity
0,1001020100,Alabama,Autauga County,1,1912,693,0,0.0,0.00,0,...,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0,0
1,1001020200,Alabama,Autauga County,1,2170,743,0,181.0,8.34,1,...,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0,3
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0.0,0.00,0,...,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0,0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0.0,0.00,0,...,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0,0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,181.0,1.68,0,...,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0,0
5,1001020600,Alabama,Autauga County,1,3668,1311,0,0.0,0.00,1,...,2751.0,740.0,9.0,1.0,10.0,157.0,176.0,71.0,224.0,3
6,1001020700,Alabama,Autauga County,1,2891,1188,0,36.0,1.25,1,...,2333.0,435.0,13.0,3.0,11.0,96.0,98.0,34.0,390.0,3

In [13]:
health_outcome_data.head(7)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
1,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Race/Ethnicity,Other,RACE,RACEOTH
2,2011,2011,AK,Alaska,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,2011.0,Value,...,"(64.845079957001, -147.722059036)",PA,PA1,Q044,VALUE,2,Sex,Female,SEX,FEMALE
3,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Age (years),35 - 44,AGEYR,AGEYR3544
4,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q037,VALUE,2,Income,"$15,000 - $24,999",INC,INC1525
5,2011,2011,AK,Alaska,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,2011.0,Value,...,"(64.845079957001, -147.722059036)",OWS,OWS1,Q036,VALUE,2,Sex,Male,SEX,MALE
6,2011,2011,AK,Alaska,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in muscle-strengt...,2011.0,Value,...,"(64.845079957001, -147.722059036)",PA,PA1,Q046,VALUE,2,Education,Less than high school,EDU,EDUHS

In [15]:
food_access_data.tail(7)

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,Low_Access_1_Mile,...,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,Food_Desert_Severity
72524,56041975300,Wyoming,Uinta County,0,7761,2696,0,205.0,2.64,0,...,7052.0,21.0,29.0,23.0,64.0,572.0,797.0,107.0,255.0,0
72525,56041975400,Wyoming,Uinta County,0,6852,2632,0,65.0,0.95,0,...,6160.0,20.0,19.0,2.0,67.0,584.0,871.0,124.0,217.0,0
72526,56043000200,Wyoming,Washakie County,0,3326,1317,0,57.0,1.71,0,...,3106.0,6.0,15.0,0.0,27.0,172.0,309.0,61.0,64.0,0
72527,56043000301,Wyoming,Washakie County,1,2665,1154,0,10.0,0.38,0,...,2377.0,5.0,23.0,0.0,40.0,220.0,446.0,88.0,41.0,0
72528,56043000302,Wyoming,Washakie County,1,2542,1021,0,73.0,2.87,0,...,2312.0,11.0,10.0,1.0,26.0,182.0,407.0,23.0,64.0,0
72529,56045951100,Wyoming,Weston County,0,3314,1322,0,252.0,7.60,0,...,3179.0,15.0,10.0,1.0,47.0,62.0,91.0,47.0,34.0,0
72530,56045951300,Wyoming,Weston County,1,3894,1699,0,61.0,1.57,0,...,3706.0,6.0,10.0,2.0,44.0,126.0,125.0,34.0,110.0,0

In [17]:
health_outcome_data.tail(7)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
104265,2023,2023,WY,Wyoming,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q044,VALUE,56,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
104266,2023,2023,WY,Wyoming,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in muscle-strengt...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q046,VALUE,56,Age (years),45 - 54,AGEYR,AGEYR4554
104267,2023,2023,WY,Wyoming,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q047,VALUE,56,Education,High school graduate,EDU,EDUHSGRAD
104268,2023,2023,WY,Wyoming,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q047,VALUE,56,Age (years),65 or older,AGEYR,AGEYR65PLUS
104269,2023,2023,WY,Wyoming,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q047,VALUE,56,Income,Data not reported,INC,INCNR
104270,2023,2023,WY,Wyoming,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in muscle-strengt...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q046,VALUE,56,Education,Less than high school,EDU,EDUHS
104271,2023,2023,WY,Wyoming,BRFSS,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(43.23554134300048, -108.10983035299967)",PA,PA1,Q047,VALUE,56,Age (years),55 - 64,AGEYR,AGEYR5564

In [19]:
print("Food Access Dataset Shape:", food_access_data.shape)
print("Health Outcome Dataset Shape:", health_outcome_data.shape)

Food Access Dataset Shape: (72531, 148)
Health Outcome Dataset Shape: (104272, 33)

In [21]:
print(food_access_data.info())
print(health_outcome_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72531 entries, 0 to 72530
Columns: 148 entries, CensusTract to Food_Desert_Severity
dtypes: float64(126), int64(20), object(2)
memory usage: 81.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104272 entries, 0 to 104271
Data columns (total 33 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   YearStart                   104272 non-null  int64
 1   YearEnd                     104272 non-null  int64
 2   LocationAbbr                104272 non-null  object
 3   LocationDesc                104272 non-null  object
 4   Datasource                  104272 non-null  object
 5   Class                       104272 non-null  object
 6   Topic                       104272 non-null  object
 7   Question                    104272 non-null  object
 8   Data_Value_Unit             88872 non-null   float64
 9   Data_Value_Type             104272 non-null  object
 10  Data_Value                  93505 non-null   float64
 11  Data_Value_Alt              93505 non-null   float64
 12  Data_Value_Footnote_Symbol  10767 non-null   object
 13  Data_Value_Footnote         10767 non-null   object
 14  Low_Confidence_Limit        93505 non-null   float64
 15  High_Confidence_Limit       93505 non-null   float64
 16  Sample_Size                 93505 non-null   float64
 17  Total                       3724 non-null    object
 18  Age(years)                  22344 non-null   object
 19  Education                   14896 non-null   object
 20  Sex                         7448 non-null    object
 21  Income                      26068 non-null   object
 22  Race/Ethnicity              29792 non-null   object
 23  GeoLocation                 102340 non-null  object
 24  ClassID                     104272 non-null  object
 25  TopicID                     104272 non-null  object
 26  QuestionID                  104272 non-null  object
 27  DataValueTypeID             104272 non-null  object
 28  LocationID                  104272 non-null  int64
 29  StratificationCategory1     104272 non-null  object
 30  Stratification1             104272 non-null  object
 31  StratificationCategoryId1   104272 non-null  object
 32  StratificationID1           104272 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 26.3+ MB
None

In [23]:
print(food_access_data.isnull().sum())
print(health_outcome_data.isnull().sum())

CensusTract             0
State                   0
County                  0
Urban                   0
Pop2010                 0
                       ..
TractOMultir            4
TractHispanic           4
TractHUNV               4
TractSNAP               4
Food_Desert_Severity    0
Length: 148, dtype: int64
YearStart                          0
YearEnd                            0
LocationAbbr                       0
LocationDesc                       0
Datasource                         0
Class                              0
Topic                              0
Question                           0
Data_Value_Unit                15400
Data_Value_Type                    0
Data_Value                     10767
Data_Value_Alt                 10767
Data_Value_Footnote_Symbol     93505
Data_Value_Footnote            93505
Low_Confidence_Limit           10767
High_Confidence_Limit          10767
Sample_Size                    10767
Total                         100548
Age(years)                     81928
Education                      89376
Sex                            96824
Income                         78204
Race/Ethnicity                 74480
GeoLocation                     1932
ClassID                            0
TopicID                            0
QuestionID                         0
DataValueTypeID                    0
LocationID                         0
StratificationCategory1            0
Stratification1                    0
StratificationCategoryId1          0
StratificationID1                  0
dtype: int64

In [33]:
# Fill missing numerical values with the median
food_access_data.fillna(food_access_data.median(), inplace=True)
health_outcome_data.fillna(health_outcome_data.median(), inplace=True)

# Fill missing categorical values with the mode
food_access_data.fillna(food_access_data.mode().iloc[0], inplace=True)
health_outcome_data.fillna(health_outcome_data.mode().iloc[0], inplace=True)

TypeError: Cannot convert [['Alabama' 'Alabama' 'Alabama' ... 'Wyoming' 'Wyoming' 'Wyoming']
 ['Autauga County' 'Autauga County' 'Autauga County' ...
  'Washakie County' 'Weston County' 'Weston County']] to numeric

In [35]:
food_access_data.rename(columns={'LILATracts_1And10': 'Low_Access_1_Mile', 'LILATracts_halfAnd10': 'Low_Access_Half_Mile'}, inplace=True)
health_outcome_data.rename(columns={'Obesity_AdjPrev': 'Obesity_Prevalence'}, inplace=True)
print(food_access_data.columns)
print(health_outcome_data.columns)

Index(['CensusTract', 'State', 'County', 'Urban', 'Pop2010', 'OHU2010',
       'GroupQuartersFlag', 'NUMGQTRS', 'PCTGQTRS', 'Low_Access_1_Mile',
       ...
       'TractWhite', 'TractBlack', 'TractAsian', 'TractNHOPI', 'TractAIAN',
       'TractOMultir', 'TractHispanic', 'TractHUNV', 'TractSNAP',
       'Food_Desert_Severity'],
      dtype='object', length=148)
Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Sex', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [37]:
# Creating a new column for food desert severity
food_access_data['Food_Desert_Severity'] = food_access_data.apply(
    lambda row: 3 if row['Low_Access_1_Mile'] == 1 and row['Low_Access_Half_Mile'] == 1 
    else (2 if row['Low_Access_1_Mile'] == 1 else (1 if row['Low_Access_Half_Mile'] == 1 else 0)), axis=1)

# Display first few rows to verify new column
food_access_data[['Low_Access_1_Mile', 'Low_Access_Half_Mile', 'Food_Desert_Severity']].head()

   Low_Access_1_Mile  Low_Access_Half_Mile  Food_Desert_Severity
0                  0                     0                     0
1                  1                     1                     3
2                  0                     0                     0
3                  0                     0                     0
4                  0                     0                     0